<!DOCTYPE html>
<html>
<head>
	<title>Movie description</title>
</head>
<style type="text/css">
	table, th, td {
   border: 1px solid black;
 }
</style>
<body>
	<table>
	    <tr>
	    	<th> Moviename </th>
	    	<th> Ratings </th>
	    	<th> Release year </th>
	    	<th> Votes </th>
	    	<th> IMDB </th>
	    </tr>
	{% for i in display %}
        <tr>
        	<td> {{ i.movie_title }} </td>
        	<td> {{ i.movie_rating }} </td>
        	<td> {{ i.movie_releaseyear }} </td>
            <td> {{ i.movie_votes }} </td>
            <td>  <form type="submit" method="POST"><a href="{{url_for('imdbpage',movieimdb_id=i.movieimdbid)}}">{{ "IMDB link" }}</a></form></td>
        </tr>
	{% endfor %}
	</table>
</body>
</html>