<!DOCTYPE html>
<html>
<head>
	<title>Create new movie</title>
</head>
<body>
	<form action="{{url_for('create_movie')}}" method = 'POST'>
		<p>Role Name</p>
		<input type="text" name="actor_name">
		<br>
		<p>Birthday</p>
		<input type="tex" size='30' name="birthday">
		<p>Deathday</p>
		<input type="text" size='30' name="deathday">
		<p>Proffessions</p>
		<input type="text" size='30' name="proff">
		<p>Movies-acted</p>
		<input type="text" size='30' name="acted">
		<br>
		<br>
		<p>Movie_Name:</p>
		<input type='text' size='30' name='movie-name'>
		<p>Movie imdb number</p>
		<input type="text" size=30 name="movie-imdb">
		<p>Release Year:</p>
		<input type="text" size='30' name="release-year">
		<p>Movie Ratings</p>
		<input type="text" size='30' name="ratings">
		<p>Votes</p>
		<input type="text" size='500' name="votes">
		<br>
		<input type='submit' value='Create'>
	</form>
</body>
</html>